<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>

    <a href="./index.html">Home</a>
    <a href="./contact.html">Portfolio</a>

    <h1>Bio:</h1>
    <img src="" />

    <p>
        Being so young in this world, you really dont come with much experience when it comes to working.

        I was a dishwasher when i was 15 and started working at Wal-Mart Inc when i was 18. After 3 years, I grew

        tired of being at the corporation, so i moved on to work the revenue cyle for the medical for a company R1 RCM.

        Still growing as a man in this world can become challenging, but nobody remembers the man who wasnt persistent.

    </p>


    <footer>My Bio</footer>
</body>
</html>