@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bio</title>
</head>
<body>
    <h1>About Me </h1>
    <a href="./about.html">About</a>
    <a href="./contact.html">Portfolio</a>

    <section>
        <p>I grew up on the westside of Detroit in a rather large family and dangerous community.</p>
    </section>
    <section>
        <p>I am a C# .NET student at Grand Circus in Detroit, MI. Success has never been an easy road, so I'm not expecting this new journey to be easy.</p>
    </section>
    <section>
        <p>
            I graduated high school in 2014 and moved to Kalamazoo with my sister, who had just graduated from Michigan with her bachelors.
            I moved back to my hometown recently to further my skills of being a developer.
        </p>
    </section>
    <section></section>
    <footer>About</footer>
</body>
</html>